/* .head{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --fmed : medium;
    --br : 5px ;
    --fs  : 10px;
    --primary : #e7e7e7;
}

ul,
li{
    list-style: none;
}

.head__img{
    height: 70px; 
}

.search{
    height: 40px;
    background-color: #e1e1e1;
    border-radius: var(--br);
}

.search__input{
    height: 40px;
    font-size: var(--fmed);
    cursor: auto;
    width: 95%;
    border: none;
    background-color: var(--primary);
    outline: 0;
}

.search__btn{
    width: 4%;
    border: none;
    cursor: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__img{
    width: 15px;
    height: 15px;
}



.tag__ustensils,
.tag__ingredients,
.tag__appliance{
    position: relative;
    color: white;
    height: 50px;
    margin-right: 10px;
    border-radius: var(--br);
    opacity: .8;
}

.tag__title{
    font-size: var(--fmed);
}

.tag__input{
    border-radius: var(--br);
}

.tag__btn{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.tag__list{
    position: absolute;
    left: 0;
    border-radius: var(--br);
    width: 100%;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card__thumb{
    width: 100%;
    height: 200px;
    background-color: #c7bebe;
    border-radius: var(--br) var(--br) 0 0;
}

.card__body{
    font-size: var(--fs);
    background-color: var(--primary);
    border-radius: 0 0 var(--br) var(--br);
}

.card__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title{
    font-weight: bold;
    font-size: var(--fs);
    max-width: 200px;
}

.card__content{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.card__listItems{
    padding: 0;
}


@media screen and (max-width:1200px) {
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:768px) {
    .tag{
        display: none;
    }
    .cards{
        grid-template-columns: 1fr;
    }
}

.hidden{
    display: none;
}