/* .head{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --fmed : medium;
    --br : 5px;
}

ul,
li{
    list-style: none;
}

.head__img{
    height: 70px; 
}

.search{
    border: black thin solid;
    background-color: #e1e1e1;
    border-radius: var(--br);
}

.search__input{
    font-size: var(--fmed);
    cursor: auto;
    width: 95%;
    border: none;
    background-color: #e1e1e1;
    outline: 0;
}

.search__btn{
    width: 4%;
    border: none;
    cursor: initial;
}

.search__img{
    width: 15px;
    height: 15px;
}
.tag__row{
    height: 100%;
}
.tag__title{
    font-size: var(--fmed);
}

.tag__ustensils,
.tag__ingredients,
.tag__tools{
    width: auto;
    height: 50px;
    margin-right: 10px;
    border-radius: var(--br);
    opacity: .8;
}

.tag__input{
    border-radius: var(--br);
}

.tag__dropdown-menu{
    border: black thin solid;   
}

.tag__row::after{
    content: none;
}

.hidden{
    display: none;
}