/* .head{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --fmed : medium;
    --br : 5px ;
    --fs  : 10px;
    --primary : #d7d7d7;
    --selected : rgb(136, 133, 133);
}

ul,
li{
    list-style: none;
    padding: 0;
}

.head__img{
    height: 70px; 
}

.search{
    height: 40px;
    background-color: #e1e1e1;
    border-radius: var(--br);
}

.search__input{
    height: 40px;
    font-size: var(--fmed);
    cursor: auto;
    width: 95%;
    border: none;
    background-color: var(--primary);
    outline: 0;
}

.search__btn{
    width: 4%;
    border: none;
    cursor: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__img{
    width: 15px;
    height: 15px;
}

.fas:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.tag__itemTexte{
    border: red thin solid;
    margin-left: 10px;
    border-radius: var(--br);
}

.tag__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag__itemClose:hover{
    transform: scale(1.1);
}

.tag__ustensils,
.tag__ingredients,
.tag__appliance{
    position: relative;
    color: white;
    height: 50px;
    margin-right: 10px;
    border-radius: var(--br);
   
}

.ingredientTag__title,
.applianceTag__title,
.ustensilTag__title{
    font-size: var(--fmed);
}

.tag__input{
    border-radius: var(--br);
}

.ingredientTag__btn,
.applianceTag__btn,
.ustensilTag__btn{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.ingredientTag__list,
.applianceTag__list,
.ustensilTag__list{
    position: absolute;
    left: 0;
    border-radius: var(--br);
    width: 100%;
    max-height: 400px; 
    overflow-y: scroll;
}

.applianceTag__listItem:hover,
.ingredientTag__listItem:hover,
.ustensilTag__listItem:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.applianceTag__listItem--selected{
    color: var(--selected);
}

.applianceTag__listItem--selected:hover{
    transform: scale(1);
}

.ingredientTag__listItems{
    width: 100%;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

}

/* card */
article{
    margin-bottom: 10px;
   
}

.card__thumb{
    width: 100%;
    height: 200px;
    background-color: #c7bebe;
    border-radius: var(--br) var(--br) 0 0;
}

.card__body{
    font-size: var(--fs);
    background-color: var(--primary);
    border-radius: 0 0 var(--br) var(--br);
    height: 200px;
    max-height: 200px;
    /* overflow-y: scroll; */
    
   
}

.card__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title{
    font-weight: bold;
    font-size: var(--fs);
    max-width: 200px;
}

.card__content{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.card__receips{
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.card__listItems{
    padding: 0;
}


@media screen and (max-width:1200px) {
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:768px) {
    .tag{
        display: none;
    }
    .cards{
        grid-template-columns: 1fr;
    }
}

.hidden{
    display: none;
}